.page__content {
  text-align: justify;
}

a {
text-decoration: none; 
font-weight: bold;
}
a:hover {
font-weight: bold;
text-decoration: none; 
}

.thick-line {
	height:0.2em;
	background-color:#000;
	width:80%;
}

ul{
  list-style: square url("item.svg");
 }

.nav__list .nav__items {
  font-size: 1.4rem;
}

table,td,th,tr {
	border: none;
	vertical-align: middle;
	text-align: center;
	padding-left:1em;
	padding-right:1em;
}

table {
   	overflow-wrap: break-word;
	display: table;
	border: 2px solid gray;
}


.page__content {
	font-size:0.9em;
}

.masthead {
  &__inner-wrap {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    }
}

.site-subtitle {
	display: none;
}


.site-title {
	font-size: x-large;
}

.page__hero--overlay{
	.page__title, .page__lead {
	margin-top: 1em;
	margin-bottom: 1em;
}
	.page__lead {
	font-size: 130%;
	text-shadow: 1px 1px 4px rgba(0,0,0,80%);

}
}

