/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-left:auto; 
  margin-right:auto; 

  font-family: $global-font-family;
  font-size: $type-size-6;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
  border-top: 2px solid mix(#000, $border-color, 25%);
}

th {

	background-color: $border-color;
	border-bottom: 2px solid mix(#000, $border-color, 25%);
	border-top: 2px solid mix(#000, $border-color, 25%);
	padding-top: 0.4em;
	padding-bottom: 0.4em;

	padding-left: 1em;
	padding-right: 1em;

	font-weight: bold;
}

td {
	padding-top: 0.4em;
	padding-bottom: 0.4em;

	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}
